@import 'theme/variables';

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  .videoBox {
    align-self: center;
    justify-self: center;
  }
  .playPause {
    width: 40px;
  }
  .progressBox {
    height: 10px;
    background-color: blue;
  }
  .progress {
    height: 100%;
    background-color: #e3e3ef;
  }
  .duration {
    background-color: red;
  }
  .currenTime {
    background-color: lime;
  }
  .timeLeft {
    background-color: magenta;
  }
  .playProgress {
    height: 100%;
    width: 0;
    background-color: red;
  }
  a {
    color: black;
    text-decoration: none;

    &:active, &.selected {
      color: $black;
      text-decoration: underline;
      box-shadow: 0 1px 4px 1px $darkgray;
    }
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
  }
}
