@import 'theme/variables';

.wrapper {
  a {
    color: black;
    text-decoration: none;

    &:active, &.selected {
      color: $black;
      text-decoration: underline;
      box-shadow: 0 1px 4px 1px $darkgray;
    }
    span {
      margin-right: 10px;
    }
  }
  .videoItem {
    margin: 5px;
  }
}
